# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files
*.o
*.os
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.def
*.exp

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

logo drafts/hypermodern.svg
logo drafts/luxtre_fullstroke.png
logo drafts/luxtre_lualike_fullstroke.png
logo drafts/luxtre_lualike.png
logo drafts/luxtre_newfont.png
logo drafts/luxtre_unique_notext.png
logo drafts/luxtre_unique_stroke.png
logo drafts/luxtre_unique.png
logo drafts/luxtre.png
logo drafts/luxtre.svg
